//
    |             Yay !
    |                                     __|_\_
    |                                   =u__.-.__)
    |           http://gitcanvas                 /_/
    != '\n\n'

doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title gitcanvas &middot; draw in your GitHub profile

        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='author', href='/humans.txt')

        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/gitcanvas.css')
    body
        div.gh-canvas

        script(src='/js/moment.min.js')
        script(src='/js/gitcanvas.js')
        script(src='/js/app.js')
