//
    |             Yay !
    |                                     __|_\_
    |                                   =u__.-.__)
    |           http://gitcanvas                 /_/
    != '\n\n'

doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title gitcanvas &middot; draw in your GitHub profile

        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='author', href='/humans.txt')

        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/gitcanvas.css')
    body
        a(href='https://github.com/bevacqua/gitcanvas')
            img.gh-ribbon(src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='')

        h1.gh-title gitcanvas*
        h2.gh-tagline Waste your time like you never did before!
        p.gh-disclaimer
            | *(not a real HTML5&nbsp;
            code='<canvas>'
            | &nbsp;element, we checked)
        div.gh-canvas
        div.gh-buttons
            button.gh-button.gh-reset Reset
            button.gh-button.gh-fill Fill!
        div.gh-result

        script(src='/js/moment.min.js')
        script(src='/js/gitcanvas.js')
        script(src='/js/app.js')
